---
import { strapiFetch } from "@server/strapiClient";

const promos = await strapiFetch("/promo-sliders?populate[desktopImage]=true&populate[mobileImage]=true");
const slides = promos?.data || [];
---

<section class="py-6 px-8 max-w-7xl mx-auto flex flex-col gap-6">
    <div class="text-center ">
        <h2 class="text-[24px] font-bold text-[var(--color-text-default)] tracking-tight text-left">
            Nuestras promociones
        </h2>
    </div>

    <div class="glide" id="PromotionSlider">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                {slides.map((slide) => (
                    <li class="glide__slide flex flex-col items-center justify-center bg-white rounded shadow">
                        <a 
                            href={slide.url} 
                            class="block w-full"
                        >
                            <picture>
                                <source 
                                    media="(max-width: 768px)" 
                                    srcset={slide.mobileImage?.url || slide.desktopImage?.url} 
                                />
                                <img 
                                    src={slide.desktopImage?.url} 
                                    alt={slide.title || "Promociones disponibles"} 
                                    class="w-full h-auto object-contain"
                                    loading="lazy"
                                />
                            </picture>
                        </a>
                    </li>
                ))}
            </ul>
        </div>
    </div>
</section>

<script type="module">
  const slider = document.querySelector('#PromotionSlider');

  if (slider) {
    new Glide(slider, {
    type: 'slider',
    perView: 1,
    gap: 0,
    hoverpause: true,
    breakpoints: {
      1024: {
        perView: 1
      },
      640: {
        perView: 1
      }
    }
    }).mount();
  }
</script>